<div class="container" *ngFor="let card of listePokemon">
  <div class="card">
    <div class="inner-card">
      <div class="base-info">
        <p>{{card.evolvesFrom}}</p>
      </div>
      <hr class="first-hr"/>
      <div class="title">
        <h3>{{card.name}}</h3>
        <h3 class="hp">{{card.hp}} HP</h3>
      </div>
      <img class="main-img" src="{{card.imageUrl}}" alt="Pokemon Main" width="220px" height="auto"/>
      <div class="tiny-txt">
        <P>©1995 Nintendo gamefreak ©1999 Wizards. 07/102</P>
      </div>
    </div>
  </div>
</div>